/** VARIABLES **/
/** MIXINS **/


 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #22252a !important;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  .btn {
    outline: none;
  }
  .btn:focus, .btn:active {
    outline: none;
  }
  .btn-primary {
    background-color: #22252a !important;
    border-color: #00cd69 !important;
    color: #00cd69 !important;
    outline: none;
  }
  .btn-primary:focus {
    box-shadow: none;
    outline: none;
  }
  .dropdown-toggle:focus {
    box-shadow: none !important;
    outline: none;
  }
  a {
    color: #fff !important;
  }
  .spinner-border {
    position: absolute;
    height: 60px !important;
    width: 60px !important;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -50px;
    background-size: 100%;
  }
  @media (min-width: 768px) {
    .spinner-border {
      margin-left: -50px;
    }
  }
  .App {
    background-color: #22252a;
    color: #fff;
  }
  .App .api-status {
    display: none;
  }
  @media (min-width: 768px) {
    .App .api-status {
      position: absolute;
      font-size: 11px;
      display: block;
      right: 20px;
      z-index: 1;
      top: 10px;
      padding: 15px;
      opacity: 0.7;
    }
  }
  .App .start {
    height: 100%;
    width: 100%;
  }
  .App .start img {
    margin-top: 35%;
  }
  .App .start .form-label {
    font-size: 24px;
  }
  .App .header {
    background-color: #2d3035;
  }
  .App .sidenav {
    background-color: #2d3035;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 1.5rem;
  }
  @media (max-width: 576px) {
    .App .sidenav {
      position: relative;
    }
  }
  @media (min-width: 992px) {
    .App .sidenav {
      padding: 1.25rem 2.25rem;
    }
  }
  .App .sidenav .collapse {
    display: none;
  }
  .App .sidenav .collapse.in {
    display: block;
  }
  .App .sidenav div[class^='col'], .App .sidenav div[class*='col'] {
    padding: 0 !important;
  }
  .App .sidenav .list-group-item {
    background-color: #2d3035;
    color: #fff;
    text-align: left;
    border: none;
    font-size: 14px;
  }
  .App .sidenav .list-group-item span {
    top: 1px;
    position: relative;
  }
  .App .sidenav .list-group-item i {
    font-size: 14px;
    width: 25px;
    vertical-align: middle;
  }
  .App .sidenav .branding {
    background-color: #2d3035;
  }
  .App .sidenav .branding .brand-logo {
    height: 40px;
    margin-top: 5px;
  }
  @media (min-width: 992px) {
    .App .sidenav .branding .brand-logo {
      height: 48px;
      margin-top: 0;
    }
  }
  .App .sidenav .branding .hireable {
    margin: 10px 0;
  }
  .App .sidenav .branding .hireable .green {
    color: #00cd69;
  }
  .App .sidenav .branding .hireable .red {
    color: red;
  }
  .App .sidenav .profile-widget .card {
    background-color: #2d3035;
    color: #fff;
    border: none;
  }
  .App .sidenav .profile-widget .card .card-body .img-lg {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 4px solid #fff;
  }
  @media (min-width: 768px) {
    .App .sidenav .profile-widget .card .card-body .img-lg {
      width: 90px;
      height: 90px;
    }
  }
  @media (min-width: 992px) {
    .App .sidenav .profile-widget .card .card-body .img-lg {
      width: 120px;
      height: 120px;
    }
  }
  .App .sidenav .profile-widget .card .card-body h4 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  @media (min-width: 992px) {
    .App .sidenav .profile-widget .card .card-body h4 {
      font-size: 20px;
    }
  }
  .App .sidenav .profile-widget .card .card-body a {
    font-size: 14px;
  }
  .App .sidenav .account-stats .stats {
    font-size: 14px;
  }
  .App .sidenav .personal-details .list-group-item {
    padding: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .App .sidenav .sidenav-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
  .App .sidenav .sidenav-footer .list-group-item {
    padding: 2.25rem;
  }
  .App .dashboard .nav-tabs {
    border-bottom: 0;
    background-color: #2d3035;
    width: 100%;
    padding-top: 20px;
  }
  .App .dashboard .nav-tabs .nav-item.active {
    background-color: #2d3035;
    border: 0;
    border-bottom: 4px solid #00cd69;
    opacity: 1;
  }
  .App .dashboard .nav-tabs .nav-link {
    border: 0;
    outline: 0;
    border-bottom: 4px solid #2d3035;
    opacity: 0.7;
  }
  .App .dashboard .nav-tabs .nav-link:focus, .App .dashboard .nav-tabs .nav-link:hover {
    border: 0;
    outline: 0;
    border-bottom: 4px solid #00cd69;
  }
  .App .dashboard .tab-content {
    width: 100%;
    /* also overviews */
  }
  .App .dashboard .repositories {
    margin: 10px;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories {
      margin: 10px 25px 10px 15px;
    }
  }
  .App .dashboard .repositories .filters .btn-secondary.active {
    background-color: #00cd69;
    border: 1px solid #00cd69;
    box-shadow: none;
  }
  .App .dashboard .repositories .filters .btn-secondary {
    background-color: transparent;
    box-shadow: none;
  }
  .App .dashboard .repositories .filters .dropdown-menu {
    background-color: #22252a;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .App .dashboard .repositories .filters .dropdown-menu .dropdown-item {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    opacity: 0.7;
  }
  .App .dashboard .repositories .filters .dropdown-menu .dropdown-item:hover {
    background-color: #22252a;
    color: #fff;
    opacity: 1;
    font-size: 14px;
  }
  .App .dashboard .repositories .filters .dropdown-menu .dropdown-item:focus {
    border: none;
    outline: none;
  }
  .App .dashboard .repositories .card {
    background-color: #2d3035;
    color: #fff;
  }
  .App .dashboard .repositories .card .card-body {
    padding: 10px;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-body {
      padding: 1.25rem;
    }
  }
  .App .dashboard .repositories .card .card-body .h5 {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-body .h5 {
      font-size: 16px;
    }
  }
  .App .dashboard .repositories .card .card-body .badge-green {
    color: #fff;
    background-color: #00cd6982;
    padding: 8px 14px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .App .dashboard .repositories .card .card-body .badge-green:hover {
    background-color: #00cd69;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-body .badge-green {
      margin-bottom: 2px;
    }
  }
  .App .dashboard .repositories .card .card-body .height-50 {
    height: 50px;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .App .dashboard .repositories .card .card-body .repo-desc {
    font-size: 12px;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-body .repo-desc {
      font-size: 14px;
    }
  }
  .App .dashboard .repositories .card .card-body .text-semi-muted {
    opacity: 0.7;
  }
  .App .dashboard .repositories .card .card-footer {
    font-size: 10px;
    padding: 10px;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-footer {
      padding: 1.25rem;
      font-size: 12px;
    }
  }
  .App .dashboard .repositories .card .card-footer .repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  @media (min-width: 992px) {
    .App .dashboard .repositories .card .card-footer .repo-language-color {
      width: 12px;
      height: 12px;
      top: 2px;
    }
  }
  .App .dashboard .analytics {
    margin: 20px;
  }
  @media (min-width: 992px) {
    .App .dashboard .analytics {
      margin: 10px 25px 10px 15px;
    }
  }
  .App .dashboard .analytics .bg-lite-dark {
    background-color: #2d3035;
    padding: 1.25rem;
    height: 100%;
  }
  .App .dashboard .analytics .table-dark {
    font-size: 14px;
  }
  .App .dashboard .analytics .table-dark td {
    padding: 10px;
  }
  